<app-slideshow></app-slideshow>

<div class="container top-30">
  <div class="row">

    <div class="col-md-4 text-center">
      <img src="assets/img/artist.png" alt=""/>
      <hr>
      Lorem impum dolor.
    </div>

    <div class="col-md-4 text-center">
      <img src="assets/img/music.png" alt=""/>
      <hr>
      Lorem impum dolor.
    </div>

    <div class="col-md-4 text-center">
      <img src="assets/img/album.png" alt=""/>
      <hr>
      Lorem impum dolor.
    </div>

  </div>

  <router-outlet></router-outlet>
</div>
